# .github/workflows/deno.yaml
# Copyright 2023 Keith Maxwell
# SPDX-License-Identifier: CC0-1.0

on: push # yamllint disable-line rule:truthy

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: fsfe/reuse-action@676e2d560c9a403aa252096d99fcab3e1132b0f5 # v6
      - uses: astral-sh/setup-uv@ed21f2f24f8dd64503750218de024bcf64c7250a # v7
        with:
          enable-cache: true
          cache-dependency-glob: .github/workflows/main.yaml
      - run: uv tool run yamllint .github
      # yamllint disable-line rule:line-length
      - uses: denoland/setup-deno@e95548e56dfa95d4e1a28d6f422fafe75c4c26fb # v2.0.3
      - run: deno fmt --check
      - run: deno lint
      - run: deno install
      - run: curl --silent --remote-name http://example.org/index.html
      # https://chromium.googlesource.com/chromium/src/+/main/docs/security/apparmor-userns-restrictions.md#option-1_the-easiest-way
      # https://github.com/puppeteer/puppeteer/blob/main/.github/workflows/ci.yml#L198C9-L198C86
      - run: >-
          echo 0
          | sudo tee /proc/sys/kernel/apparmor_restrict_unprivileged_userns
      - run: >-
          deno
          run
          --allow-net
          --allow-run
          --allow-read
          --allow-write
          --allow-env
          a4.js
          index.html
      - run: >-
          deno
          run
          --allow-env
          --allow-read
          --allow-ffi
          --allow-sys
          is-a4.js
          index.pdf
      - run: >-
          deno
          compile
          --allow-env
          --allow-read
          --allow-write
          --allow-run
          --allow-net
          a4.js
      - run: sha256sum a4 | tee SHA256SUMS
      # yamllint disable-line rule:line-length
      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5
        with:
          name: a4
          path: |
            a4
            SHA256SUMS
      # yamllint disable-line rule:line-length
      - uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: |
            a4
            SHA256SUMS
